
<div class=general>
    <div class="header">
        <h1> {{ title }}!</h1>
        <span id="profil">
            utilisateur : {{userName}}
        </span>
    <br>
        <nav>
            <a routerLink="/post" class="menu">Blog</a>
            <a routerLink="/nouveau-post" class="menu" [class.disabled]="!this.isAuth">Nouveau Poste</a>
            <a routerLink="/authentification" class="menudroit" *ngIf="!this.isAuth">Se connecter</a>
            <a routerLink="/new-user" class="menudroit" *ngIf="!this.isAuth">S'inscrire</a>
            <a routerLink="/post" class="menudroit" *ngIf="this.isAuth" (click)="onSignOutUser()">Se déconnecter</a>
        </nav>
    </div>
<router-outlet></router-outlet>
</div>

