
<h2>Bienvenue <span *ngIf="!authStatus">{{nom}}</span></h2>
<ul class="list-group">
  <li *ngFor="let unpost of posts; let i = index">
    <div 
      [class]="getClass(unpost)"
      [style.color]="getColor(unpost)" 
      [style.background-color]= "getBackgroundColor(unpost)"
      (click)="onViewPost(i)"
      >
        <span class="titre">{{unpost.titre}}</span>
        <span class="badgedroit">{{unpost.created_at | date:'short'}}</span> 
        <br>
        <span class="contenu">{{unpost.content}}</span> 
        <br>
        <button type=button (click)="onAime(unpost)" class="boutonAime" value="J'aime">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button type=button (click)="onAimePas(unpost)" class="boutonAimePas" value="Je n'aime pas">
            <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        <span class="contenu">Popularité : {{unpost.loveIts}}</span>
    </div> 
  </li>
</ul>
